html
  head
    title Donate
    link(href="/css/semantic.min.css", rel="stylesheet")
    link(href="/css/foundation.min.css", rel="stylesheet")
    link(href="/css/app.css", rel="stylesheet")
    link(href="/css/foundation-icons.css", rel="stylesheet")

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    h1.centered Open Kitchen Now
    .ui.divider
    .container
      .row
        .medium-6.medium-offset-3.columns
          h1.centered Payment
          p1 Status: #{foodNeeded}

          form(action="/loadForm",method="post")
            .form-group
              label(for="name") Name:
              input.form-control(name="name", type="text", placeholder="jennie")
              label(for="pickup_address") Pickup Address:
              input.form-control(name="pickup_address", type="text", placeholder="710 Emerson St, Evanston, IL")
              label(for="phone_number") Phone Number:
              input.form-control(name="phone_number", type="text", placeholder="333-333-3333")
              label(for="description") Meal Description:
              textarea.form-control(name="description", type="text", placeholder="description of the meal", row="4")
              button.expanded.success.button(type="submit") Next Step
