html
  head
    title Donate
    link(href="/css/semantic.min.css", rel="stylesheet")
    link(href="/css/foundation.min.css", rel="stylesheet")
    link(href="/css/app.css", rel="stylesheet")
    link(href="/css/foundation-icons.css", rel="stylesheet")
    script(src="/js/semantic.min.js")

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  img.background(src="/assets/bg.jpg")
  body
    nav.ui.fixed.menu.inverted.navbar
      h3 Open Kitchen
      .right.ui.secondary.pointing.menu
        a.ui.item.active Home
        a.ui.item Donate
    .container
      br
      br
      br
      img.logo.floated.left(src="assets/logo2.png")
    .container
      .row
        .medium-6.medium-offset-3.columns
          p1 Total cost: #{amount}
          form(action="/process",method="post")
            .form-group
              label(for="name") Name:
              input.form-control(name="name", type="text", placeholder="Jennie")
              label(for="pickup-address") Pickup Address:
              input.form-control(name="pickup-address", type="text", placeholder="2305 Sheridan Rd, Evanston, IL")
              label(for="phone-number") Phone Number:
              input.form-control(name="phone-number", type="text", placeholder="555-555-5555")
              label(for="description") Meal Description:
              textarea.form-control(name="description", type="text", placeholder="Description of the meal", row="4")
            br
            br
            br
            .form-group
              #checkout
              button.expanded.success.button(type="submit") Donate


    script(src="/js/braintree.js")
    script.
      braintree.setup('#{clientToken}', 'dropin', {
        container: 'checkout',
      });
