html
  head
    title Pay
    link(href="/css/semantic.min.css", rel="stylesheet")
    link(href="/css/foundation.min.css", rel="stylesheet")
    link(href="/css/app.css", rel="stylesheet")
    link(href="/css/foundation-icons.css", rel="stylesheet")

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    img.background(src="/assets/darkwood.jpg")
    .ui.divider
    .container
      .row
        .medium-6.medium-offset-3.columns
          .form-group
            h1.centered Payment
            h3.centered Total cost: #{amount}
            form(action="/process",method="post")
              #checkout
              hr
              button.expanded.success.button(type="submit") Pay now
    script(src="/js/braintree.js")
    script.
      braintree.setup('#{clientToken}', 'dropin', {
        container: 'checkout',
      });
