html
  head
    title Donate
    link(href="/css/semantic.min.css", rel="stylesheet")
    link(href="/css/foundation.min.css", rel="stylesheet")
    link(href="/css/foundation-icons.css", rel="stylesheet")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/success.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    .container
      .col-md-6.col-md-offset-3
        .jumbotron
          h1 Thanks buddy!
          p Postmates will arrive soon to pick up the meal.
    